<app-bread-crumb></app-bread-crumb>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <h2 class="panel-title"><strong>Tabela de Movimentos</strong></h2>
                </div>
                <div class="col-md-1">
                    <div class="btn-group btn-group-sm" role="group">
                        <a [routerLink]="['/movimentos/novo']" class="btn btn-primary glyphicon glyphicon-plus"></a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Integrante</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Documento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of movimentos">
                    <td><a [routerLink]="['/integrantes', item.integrante._id]">{{item.integrante.integrante}}</a></td>
                    <td>{{item.integrante.nome}}</td>
                    <td>{{item.tipo}}</td>
                    <td>{{item.documento}}</td>
                    <td>
                        <a class="glyphicon glyphicon-pencil" [routerLink]="['/movimentos', item._id]"></a>
                        <a class="glyphicon glyphicon-trash" (click)="apagar(item._id)"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>