<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink='/home'>Home</a>
    </div>

      <ul class="nav navbar-nav">
        <li class="nav item"><a class="nav-link" routerLink='/integrante'>Integrantes </a></li>
        <li class="nav item"><a class="nav-link" routerLink='/movimento'>Movimentos </a></li>
        <li class="nav item"><a class="nav-link" routerLink='/produto'>Produtos </a></li>
      </ul>
    </div>
</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>