<app-bread-crumb></app-bread-crumb>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h2 class="panel-title">
                    <strong>Cadastro de Itens do Movimento</strong>
                </h2>
            </div>
            <div class="col-md-1">
                <div class="btn-group btn-group-sm" role="group">
                    <a [routerLink]="['/movimentos', model.cab_movimento]" class="btn btn-info">Voltar para Lista</a>
                </div>
            </div>
        </div>
    </div>
    <form #itemMovimentoForm="ngForm" (ngSubmit)="enviar()">
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <label for="cabecalho">Movimento</label>
                <select id="cabecalho" name="cabecalho" class="form-control" [(ngModel)]="model.cab_movimento">
                    <option *ngFor="let item of cabecalhos" [ngValue]="item._id">
                        {{item.integrante.integrante}} - {{item.integrante.nome}} - {{item.tipo}} - {{item.documento}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <label for="produto">Produto</label>
                <select id="produto" name="produto" class="form-control" [(ngModel)]="model.produto">
                    <option *ngFor="let item of produtos" [ngValue]="item._id">
                        {{item.descricao}} (Valor Venda Sugerido: {{item.valor_venda_sugerido}} )
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="quantidade">Quantidade</label>
                <input type="number" id="quantidade" name=quantidade [(ngModel)]="model.quantidade" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="valor_pago">Valor</label>
                <input type="number" id="valor_pago" name=valor_pago [(ngModel)]="model.valor_pago" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label for="data_movimento">Data Movimento</label>
                <input type="date" id="data_movimento" name=data_movimento [(ngModel)]="model.data_movimento" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="data_pagamento">Data Pagamento</label>
                <input type="date" id="data_pagamento" name=data_pagamento [(ngModel)]="model.data_pagamento" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="data_movimento">Pago</label>
                <select id="pago" name="pago" class="form-control" [(ngModel)]="model.pago">
                    <option value="true">Sim</option>
                    <option value="false">Nao</option>
                </select>
            </div>


        </div>
        <br>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-11"></div>
                <div class="col-md-1">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>