<app-bread-crumb></app-bread-crumb>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <h2 class="panel-title"><strong>Tabela de Integrantes</strong></h2>
                </div>
                <div class="col-md-1">
                    <div class="btn-group btn-group-sm" role="group">
                        <a [routerLink]="['/integrantes/novo']" class="btn btn-primary glyphicon glyphicon-plus"></a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Integrante</th>
                    <th>Nome</th>
                    <th>Contato</th>
                    <th>UF</th>
                    <th>Cidade</th>
                    <th>Rua</th>
                    <th>Numero</th>
                    <th>Complemento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of integrantes">
                    <td>{{item.integrante}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.contato}}</td>
                    <td>{{item.uf}}</td>
                    <td>{{item.cidade}}</td>
                    <td>{{item.rua}}</td>
                    <td>{{item.numero}}</td>
                    <td>{{item.complemento}}</td>
                    <td>
                        <a class="glyphicon glyphicon-pencil" [routerLink]="['/integrantes', item._id]"></a>
                        <a class="glyphicon glyphicon-trash" (click)="apagar(item._id)"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>