<app-bread-crumb></app-bread-crumb>
<br>
<div clas='row'>
    <div class="col-md-1">
        <a [routerLink]="['/integrante/novo']" class="btn btn-primary">Novo</a>
    </div>
</div>
<br>
<div class="row">
    <h1> Tabela de Integrantes </h1>
</div>
<br>
<div class="row">
    <table class="table table-striped">
        <thead>
            <th>Integrante</th>
            <th>Contato</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of integrantes">
                <td><a [routerLink]="['/integrante', item._id]">
                    {{item.integrante}}
                  </a></td>
                <td>{{item.contato}}</td>
            </tr>
        </tbody>
    </table>
</div>