<!DOCTYPE html>
<html>

   <head>
      <meta charset="UTF-8" />
      <title>Login</title>
   </head>

   <body>
      <h1>Bem-vindo ao <%= nome %></h1>
      <p><%= mensagem %></p>
      <p>Usuário:</p>
      <p>Senha:</p>
   </body>

</html>